<div class="contact">
  <h2>Contact</h2>
  <div class="contact-list">
    <ul>
      <li><a href="https://www.lgtechventures.com" target="_blank">LG Silicon Valley Lab</a></li>
      <li>Emerging Tech Department</li>
      <br/>
      <li><a href="https://www.cs.usc.edu" target="_blank">University of Southern California</a></li>
      <li>Viterbi School of Engineering</li>
      <li>Department of Computer Science</li>
    </ul>
    <br/>
    <ul>
      <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>{{ site.address }}</span></li>
      <li><span class="li-icon">{% include svg/phone.svg %}</span><span>{{ site.phone }}</span></li>
      <li><span class="li-icon">{% include svg/mail.svg %}</span>Personal: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
      <li><span class="li-icon">{% include svg/mail.svg %}</span>Work: <a href="mailto:{{ site.author.workemail }}">{{ site.author.workemail }}</a></li>
      <li><span class="li-icon">{% include svg/mail.svg %}</span>School: <a href="mailto:{{ site.author.schoolemail }}">{{ site.author.schoolemail }}</a></li>
    </ul>
  </div>
</div>
