<footer style="display: flex; flex-direction: column;">
  <div class="nowrap" style="align-self: center;">
    {% if site.social.facebook %}
    <a class="particles-icon" href="https://www.facebook.com/{{ site.social.facebook }}">{% include svg/facebook.svg %}</a>
    {% endif %}
    {% if site.social.x %}
    <a class="particles-icon" href="https://twitter.com/{{ site.social.x }}">{% include svg/x.svg %}</a>
    {% endif %}
    {% if site.social.instagram %}      
    <a class="particles-icon" href="https://www.instagram.com/{{ site.social.instagram }}">{% include svg/instagram.svg %}</a>
    {% endif %}
    {% if site.social.linkedin %}
    <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin.svg %}</a>
    {% endif %}
    {% if site.social.stackoverflow %}
    <a class="particles-icon" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}">{% include svg/stackoverflow.svg %}</a>
    {% endif %}
    {% if site.social.github %}
    <a class="particles-icon" href="https://github.com/{{ site.social.github }}">{% include svg/github.svg %}</a>
    {% endif %}
  </div>
  <br/>
  <small style="margin-top: 20px; text-align:center;">&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
    {{ site.author.name }}. All rights reserved.</small>
</footer>
